﻿@{
    ViewBag.Title = "Expense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/knockout-3.4.0.js"></script>
<h2>New Expense</h2>
<div id="createNode">
    <table>
        <tr>
            <td>Amount</td>
            <td> <input type="text" data-bind="value: Amount" /> </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select data-bind="options: Categories, optionsText: 'Name',
                       value: SelectedCategory"></select>
                
            </td>
        </tr>
    </table>
    <input type="button" value="Add" data-bind="click: addExpense" />
</div>
<div id="displayNode">
    <table class="table">
        <tr>
            <th>
                CategoryName
            </th>
            <th>
                Month
            </th>
        </tr>

        <tbody data-bind="foreach: expenseGroup">
            <tr>
                <td data-bind="text: CategoryName"></td>
                <td data-bind="text: Month"></td>
                <td>
                    <table>
                        <tr>
                            <th>
                                Amount
                            </th>
                        </tr>
                        <tbody data-bind="foreach: expenses">
                            <tr>
                                <td data-bind="text:Amount"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var vm = new expenseVM();
        

        
        vm.getExpenses();
        ko.applyBindings(vm, document.getElementById('displayNode'));
        var item = new expense();
        $.getJSON("/expense/CategoryList/", function (data) {
            $.each(data.result, function (key, val) {
                item.Categories.push(new Category(val.Id, val.Name));
            });
        });
        
        ko.applyBindings(item, document.getElementById('createNode'));
        $(window).on('updateExpenses', function (event, data) {
            vm.getExpenses();
        });
    });
    function expenseVM() {
        var self = this;
        self.expenseGroup = ko.observableArray([]);
        self.getExpenses = function () {
            self.expenseGroup.removeAll();
                $.getJSON("/expense/List/", function (data) {
                    $.each(data.result, function (key, val) {
                        self.expenseGroup.push(new expenseGroup(val.CategoryName, val.Month, val.Expenses));
                        });
                    });
        };
    }
    function expenseGroup(categoryName, month, expenses)
    {
        var self = this;
        self.CategoryName = categoryName;
        self.Month = month;
        self.expenses = ko.observableArray([]);
        $.each(expenses, function (key, val) {
            self.expenses.push(new expense(val.Amount, val.CategoryName, val.Month));
        });
    
    }
    var Category = function (id, name) {
        this.Name = name;
        this.Id = id;
    };
    function expense(amount, categoryName, month) {
             var self = this;
             
             self.Amount = amount;
             self.CategoryName = categoryName;
             self.Month = month;
             self.CategoryId = 0;
             self.Categories = ko.observableArray();
             self.SelectedCategory = ko.observable();
             self.addExpense = function () {
                 this.CategoryId = this.SelectedCategory().Id;
                     $.ajax({
                         url: "/expense/Add/",
                             type: 'post',
                             data: ko.toJSON(this),
                             contentType: 'application/json',
                             success: function (result) {
                                 $.event.trigger('updateExpenses', null);
                             }
                     });
             }
    }
    
    
</script>
